@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #660000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400%;
    color: #fff;
}

a { 
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}
img {
    justify-content: center;
    align-items: flex-start;
    height: 100;
    max-width: 1000;
    
}
 
.container {
    width: 700px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
header .logo {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}
header nav { 
    width: 70%;
    list-style: none;
    gap: 4px;
}
   
header nav ul {

   list-style: none;
   display: flex;
   justify-content: space-between;
    }
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: white;
    
}
body div {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.menubtn {
    font-size: 20px;
    cursor: pointer;
    background: #660000;
    color: white;
    padding: 10px 20px;
    border: none;
}
.sideMenu {
    height: 210px;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #660000;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.sideMenu a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ddd;
    display: block;
    transition: 0.2s;
}
.sideMenu a:hover {
    background-color: black;
}
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.hero--info {
    margin: 20px;
    padding: 5;
}
.new { 
    margin: 100;
}